<div class="col-xs-12">
  <%= render "groups/auth" %>

  <h2>My Posts</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Content</th>
        <th>Group Name</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= render_post_content(post) %></td>
        <td><%= render_group_title(post.group) %></td>
        <td><%= render_post_updated_at(post) %></td>
        <td><%= link_to("Edit", edit_group_post_path(post.group, post), class: "btn btn-mini") %></td>
        <td><%= link_to("Delete", group_post_path(post.group, post), class: "btn btn-mini", method: :delete, data: { confirm: "Are you sure???" }) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
